<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    An indigenous community produces jute slippers and created a website to sell the production online. Slippers are of only one type, but they are produced in various sizes. The stock can be seen as a table with a single row, in which each column (1-base index) represents a size and a number in column - amount of slippers of that size. When a slipper is sold, the stock must be updated. If the stock for a size of slippers have zero value, slippers of this size cannot be sold. That is, the sale is not carried out.
</p>

<p style="text-align: justify;">
    Given the initial inventory and the list of customer orders (sizes), write a program to determine how many slippers are actually sold in total. Each order means size and refers to a single slipper. The Sales are processed sequentially, in the order in which the orders were placed. If a sale it is not possible due to lack of stock, the corresponding order is ignored.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two arguments. Both are <span translate="repeat">{% if is_js %}arrays{% else %}lists{% endif %}</span> of integers <span translate="no">({% if is_js %}numbers{% else %}ints{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Integer. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
